.post-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  max-width: 500px; 
  margin: 20px auto; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.status {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  color: white;
}

button.approve {
  background-color: #4caF50; 
}

button.disapprove {
  background-color: #f44336;
}

button:hover {
  opacity: 0.8;
}

